
侧边栏访问统计样式
#visitor {
    box-sizing: border-box !important;
    margin: 0px !important;
    font-size: 18px !important;
    line-height: 1.7 !important;
    color:#4c4948!important;
    /* background-color: rgb(255, 255, 255) !important; */
    padding: 16px 0px !important;
    /* border: 1px solid rgb(255, 255, 255) !important; */
    height: auto !important;
}

#visitor div p {
    margin: 0px !important;
    font-size: 14px !important;
    text-align: left !important;
}

#visitor div #name {
    color:#4c4948 !important;
    font-size: 14px;
    display: inline-block !important;
}

#visitor div .num {
    color:#4c4948 !important;
    font-size: 14px !important;
    float: right !important;
}